<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>My List</title>
</head>
<body>
  <h1>Current Tasks</h1>
  
  <ul class="tasks">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="task">
            <span><%= info[i].taskName %></span>
            <span><%= info[i].completed %></span>
            <span><%= info[i].priority %></span>
            <span class='fa fa-calendar-plus'></span>
            <span class="fa fa-calendar-minus"></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add a task:</h2>

  <form action="/addTask" method="POST">
    <input type="text" placeholder="Task name" name="taskName">
    <input type="number" name="priority" min="1" max="10">
    <label for="completed">Completed</label>
    <input type="radio" id="completed" name="completed" value="Complete">
    <input type="radio" id="completed" name="completed" value="Incomplete">
    <input type="submit">
  </form>
  <script src="js/main.js"></script>
</body>
</html>